@model RoleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Page</h1>
<br />
<br />

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>

    <partial name="PartialViews/CreateEditPartialView" model="@Model" />


    <a asp-action="AddOrRemoveUsers" asp-route-roleId="@Model.Id" class="btn btn-success">Add Or Remove User</a>


    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>



@section ValidationScripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

