@model RoleViewModel

<div class="form-group">
    <label asp-for="Id" class="col-form-label"></label>
    <input readonly asp-for="Id" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input readonly asp-for="Name" class="form-control" />
</div>

