
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">

    <div class="agileits-top">
        <h2>Check Your Inbox</h2>
        <p>We have sent a password reset link to your email address. Please check your inbox and follow the instructions to reset your password.</p>
    </div>


</div>

